@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 60px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 30px 0%;
    gap: 215px;
}

.text h2 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
}

.text p {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 15px;
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.link img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: center;
    }
}